.banner {
  width: 100%;
  height: 25rem;

  object-fit: cover;
}

.post {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0 2rem;

  h1 {
    font-size: 3rem;
    line-height: 3.625rem;
  }

  .content {
    margin-bottom: 4rem;

    h2 {
      margin-bottom: 4rem;
      font-size: 2rem;
      line-height: 3.125rem;
    }

    div {
      margin-bottom: 1.125rem;
      color: var(--gray-100);
      font-size: 1.125rem;
      line-height: 1.575rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    border: none;
    border-bottom: 1px solid var(--gray-100);
    opacity: .1;
    margin-bottom: 3rem;
  }
}

.neighbors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;

  div {
    display: flex;
    flex-direction: column;

    span {
      font-size: 1.125rem;
      letter-spacing: -0.03125rem;
      line-height: 1.36rem;
      margin-bottom: .5rem;
    }

    strong {
      cursor: pointer;
      color: var(--pink);
      transition: all .2s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.previousPost {
  margin-right: auto;
  text-align: left;
}

.nextPost {
  margin-left: auto;
  text-align: right;
}
